/* root */
:root{
  --PrimaryColor: #4A81FC;
  --SecondaryColor: #1C336A;
  --PointColor: #ff5722;
  --ContentColor: #F2F4F6;
  --Pastelcolor1: #F9E8E5;
  --Pastelcolor2: #F8E9DA;
  --Pastelcolor3: #E9EBF4;
  --Pastelcolor4: #DBEDF0;
  --Pastelcolor5: #FFFAE8;
  --GrayScale1: #121212;
  --GrayScale2: #333333;
  --GrayScale3: #929292;
  --MenuColor: #73696B;
}

/* header */
/* body가 부모태그 / snb, signature */
body{
  width: 100%;
  height: 100vh;
  position: relative;
}
.snb{
  width: 110px;
  height: 1080px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2000;
  right: 65px;
}
.snb_wrap{
  position: absolute;
  right: 65px;
  width: 110px;
  height: 145px;
  top: 48%;
  transform: translateY(-50%);
}
.snb button{
  width: 100%;
  height: 25px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
  position: relative;
}
.snb button p.active{
  color: var(--PrimaryColor);
}
.snb button p{
  width: 75px;
  text-align: right;
  position: absolute;
  left: 0;
}
.snb button > a{
  display: flex;
}
.snb .square{
  width: 20%;
  height: 100%;
  position: absolute;
  right: 0;
}
.snb .square::after{
  content: '';
  position: absolute;
  top: 50%; /* 가운데 정렬 */
  right: 0;
  width: 17px;
  height: 17px;
  border-radius: 2px;
  border: 1.5px solid var(--GrayScale2);
  transform: translateY(-50%) rotate(45deg);
  transform-origin: center;
}
.snb .square.active::after{
  background-color: var(--PrimaryColor);
  border: 1.5px solid var(--PrimaryColor);
}
.signature{
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.signature_blue {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 200;
  animation: sigBlue 20s 1s forwards infinite alternate;
  animation-timing-function: ease-in-out;
}
@keyframes sigBlue {
  0% {
    transform: rotate(0deg) translateY(0);
    opacity: 1;
  }
  20% {
    transform: rotate(90deg) translateY(-5px);
    opacity: 0.8;
  }
  40% {
    transform: rotate(180deg) translateY(0);
    opacity: 0.6;
  }
  60% {
    transform: rotate(270deg) translateY(5px);
    opacity: 0.4;
  }
  80% {
    transform: rotate(360deg) translateY(0);
    opacity: 0.8;
  }
  100% {
    transform: rotate(360deg) translateY(0);
    opacity: 1;
  }
}
.signature_red{
  position: absolute;
  left: 0;
  top: 393px;
  animation: sigRed 20s 1s forwards infinite alternate;
  animation-timing-function: ease-in-out;
}
@keyframes sigRed {
  0% {
    transform: rotate(0deg) translateY(0);
    opacity: 1;
  }
  20% {
    transform: rotate(90deg) translateY(-5px);
    opacity: 0.6
  }
  40% {
    transform: rotate(180deg) translateY(0);
    opacity: 0.4;
  }
  60% {
    transform: rotate(270deg) translateY(5px);
    opacity: 0.6;
  }
  80% {
    transform: rotate(360deg) translateY(0);
    opacity: 0.8;
  }
  100% {
    transform: rotate(360deg) translateY(0);
    opacity: 1;
  }
}

/* section1 */
#section1{
  position: absolute;
  width: 100%;
  height: 1080px;
  top: 0;
  right: 0;
  border-radius: 0 0 200px 0;
  box-shadow: 10px 10px 20px #88888873;
}
#section1::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -10;
  top: 0;
  right: 0;
  background: url(../section1/background.png) no-repeat 50% 50%;
}
/* main_elem */
.main_elem{
  position: absolute;
  z-index: 10;
}
.elem_yellow{
  position: absolute;
  top: 260px;
  left: 256px;
  animation: bounce 1s ease-out 1 forwards;
}
.elem_pink{
  position: absolute;
  top: 685px;
  left: 141px;
  animation: bounce 1s ease-out 1 forwards;
}
.elem_blue{
  position: absolute;
  top: 797px;
  left: 1475px;
  animation: bounce 1s ease-out 1 forwards;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    transform: translateY(-45px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* main_title */
.main_title{
  text-align: center;
  margin-top: 250px;
  line-height: 60px;
}
.main_title h1{}
.main_title h1 span{
  font-weight: 800;
  display: inline-block;
}
.main_title h1 span > i{
  font-weight: normal;
}
.main_title h1 > .highlight{
  width: 265px;
  color: #fff;
  padding-right: 15px;
  position: relative;
  margin-right: 15px;
}
.main_title h1 > .highlight::before{
  content: '';
  position: absolute;
  width: 270px;
  height: 90px;
  top: -60%;
  left: 0;
  background: url(../section1/title1.png) no-repeat 50% 40%;
  z-index: -1;
}
.main_title h1 > .underline{
  position: relative;
  padding-bottom: 10px;
}
.main_title h1 > .underline::before{
  content: '';
  position: absolute;
  width: 353px;
  height: 8px;
  bottom: 0;
  background: url(../section1/title2.png) no-repeat 50% 50%;
}
/* search_box */
.search_box{
  margin: 35px auto;
  text-align: center;
}
.search_box form{}
.search_box form label{
  width: 700px;
  height: 55px;
  padding-top: 5px;
  display: inline-block;
  position: relative;
}
.search_box form label input{
  width: 720px;
  height: 65px;
  background-color: #fff;
  background: url(../section1/searchbox.png) no-repeat;
}
.search_box form label input[type=text]{
  padding-left: 20px;
  font-size: 22px;
  color: var(--GrayScale3);
}
.search_box form label input::placeholder{
  font-size: 22px;
  font-family: "Pretendard GOV Variable", "Pretendard GOV", -apple-system;
}
.search_box form label::after{
  content: '';
  position: absolute;
  width: 26px;
  height: 26px;
  top: 66%;
  right: 4%;
  transform: translateY(-50%);
  background: url(../section1/search.svg) no-repeat;
}
.search_box_popup{
  position: absolute;
  width: 720px;
  height: 320px;
  border-radius: 19px;
  left: 50.5%;
  transform: translateX(-50%);
  z-index: 100;
  background-color: #fff;
  /* 안보이게 설정 */
  max-height: 0;
  opacity: 0;
  transition: max-height 0.6s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  box-shadow: 0 0 20px #00000025;
}
.recent_search_words{
  width: 90%;
  height: 21px;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.search_word_menu{
  display: flex;
  align-items: center;
  height: 13px;
  position: relative;
  cursor: pointer;
}
.recent_search_words::after{
  content: '';
  position: absolute;
  width: 90%;
  height: 0.5px;
  top: 80px;
  background-color: #2d2d2d;
}
.search_word_menu p{
  font-size: 15px;
  font-weight: 300;
}
.search_word_menu .recent_word{
  padding-right: 10px;
  position: relative;
}
.search_word_menu .recent_word i{
  color: var(--PrimaryColor);
  font-weight: 500;
  margin-left: 5px;
}
.search_word_menu .recent_word::after{
  content: '';
  position: absolute;
  width: 0.8px;
  height: 13px;
  top: 0;
  right: 0;
  background-color: #929292;
}
.search_word_menu .all_remove{
  padding-left: 10px;
}
/* main_contents */
.main_contents{
  margin: 75px auto;
  width: 1280px;
}
.content{
  display: flex;
  justify-content: space-between;
  position: relative;
}
.conBox{
  width: 300px;
  height: 360px;
  transition: 0.32s cubic-bezier(0.33, 1, 0.68, 1);
  cursor: pointer;
  box-shadow: 0 0 15px #6868688a;
  border-radius: 20px;
}
.contentbox1{
  background: url(../section1/maincontent1.png) no-repeat 50% 50%;
  background-size: cover;
  margin-top: 25px;
}
.contentbox1:hover{
  background: url(../section1/maincontent1-1.png) no-repeat 50% 50%;
  background-size: cover;
  margin-top: 0;
  box-shadow: 0 0 18px #686868ab;
  border-radius: 20px;
}
.contentbox2{
  background: url(../section1/maincontent2.png) no-repeat 50% 50%;
  background-size: cover;
  
}
.contentbox2:hover{
  background: url(../section1/maincontent2-1.png) no-repeat 50% 50%;
  background-size: cover;
  margin-top: -25px;
  box-shadow: 0 0 18px #686868ab;
  border-radius: 20px;
}
.contentbox3{
  background: url(../section1/maincontent3.png) no-repeat 50% 50%;
  background-size: cover;
  margin-top: 25px;
}
.contentbox3:hover{
  background: url(../section1/maincontent3-1.png) no-repeat 50% 50%;
  background-size: cover;
  margin-top: 0;
  box-shadow: 0 0 18px #686868ab;
  border-radius: 20px;
}
.contentbox4{
  background: url(../section1/maincontent4.png) no-repeat 50% 50%;
  background-size: cover;
}
.contentbox4:hover{
  background: url(../section1/maincontent4-1.png) no-repeat 50% 50%;
  background-size: cover;
  margin-top: -25px;
  box-shadow: 0 0 18px #686868ab;
  border-radius: 20px;
}
.content h4{
  text-align: center;
  margin-top: 230px;
}
.contentBtn{
  margin: 35px auto;
  position: relative;
}
.contentBtn img{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.contentBtn > p{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.contentBtn > p > i{
  display: inline-block;
  padding-top: 15px;
  position: relative;
  color: var(--GrayScale3);
}
.contentBtn > p > i::after{
  content: "↗";
  padding-left:15px;
}
.contentbox1:hover .contentBtn>p>i{
  color: var(--GrayScale2);
}
.contentbox2:hover .contentBtn>p>i{
  color: var(--GrayScale2);
}
.contentbox3:hover .contentBtn>p>i{
  color: var(--GrayScale2);
}
.contentbox4:hover .contentBtn>p>i{
  color: var(--GrayScale2);
}
/* scroll */
.scroll{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.scroll > a{
  text-align: center;
  position: relative;
}
.scroll > a::before{
  content: '';
  position: absolute;
  width: 134px;
  height: 90px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: url(../section1/scrollbox.svg);
  z-index: -10;
}
.scroll > a::after{
  content: '';
  position: absolute;
  width: 4.5px;
  height: 9px;
  top: -85%;
  left: 51%;
  transform: translate(-50%, -50%);
  background: url(../section1/scrollmousewheel.svg) no-repeat;
}
.scroll > a:hover::before {
  filter: grayscale(100%);
}
.scroll:hover > a::after {
  animation: wheel 1s forwards infinite alternate;
}
@keyframes wheel {
  from {
    transform: translate(-50%, -20%);
  }
  to {
    transform: translate(-50%, -50%);
  }
}
.scroll > a > p {
  padding-bottom: 18px;
  font-size: 12px;
  font-family: "Pretendard GOV Variable", "Pretendard GOV", -apple-system;
  font-weight: 600;
  color: var(--GrayScale3);
  text-transform: uppercase;
}




/* body가 부모태그 / main_top */
/* section2 */
/* section3 */
/* section4 */
/* footer */